.spaced-card {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.card-img-top {
  width: 180px;
  height: 150px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaced-card:hover {
  background-color: #36628f;
  color: #e9ecf0;
}

.page-link {
  cursor: pointer;
}
