<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-lg-2" *ngFor="let e of data">
      <div class="card spaced-card" [routerLink]="['/detail', e.name]">
        <div class="p-2">
          <img [src]="e.image" alt="{{ e.name }}" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ capitalizeFirstLetter(e.name) }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav *ngIf="totalPages > 1" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="prevPage()" tabindex="-1"><</a>
      </li>
      <li class="page-item">
        <span class="page-link">{{ currentPage }}</span>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()">></a>
      </li>
    </ul>
  </nav>
</div>
